/* RESET BOX SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.justify-content-space-btw {
 justify-content: space-between;
}

.bg-orange {
    background-color: orange;
}

.bg-black {
    background-color: black;
}

.header-section, .footer-section {
    color: white;
}

/* REGOLE HEADER */
header {
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    z-index: 30;
}

.header-section {
    height: 40px;
    width: 100%; 
}


.header-section > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.header-section li {
    text-decoration: none;
    padding: 2px;
}

.header-section .logo {
    width: 120px;
}

/* REGOLE MAIN */
main {
    margin-top: 90px;
    margin-bottom: 50px;
}

.wrap {
    flex-wrap: wrap;
}

.main-section {
    width: 300px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    top: 0;
}

.square {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 10px;
}

.main-section img {
    width: 100%;
    height: 90%;
}

.information-top {
    position: absolute;
    left: 0;
    bottom: 25%;
}

.label-red {
    background-color: red;
    margin-right: 4px;
}

.label-green {
    background-color: green;
}

.information-bottom {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.information-bottom > * {
    padding: 5px;
}

.brand, .tipe, .prices {
font-size: 0.8em;
}

.price {
    text-decoration: line-through;
}

.price-discount {
    color: red;
    font-weight: bold;
}


/* REGOLE FOOTER */
.footer-section ul {
    list-style: none;
}

.footer-section li {
    display: inline;
    font-size: 0.7em;
}

.footer-section h5, .list-right {
    padding-left: 70%
}
















/* REGOLE DEBUG */
.debug .header-section {
    background-color: lightblue;
    border: 1px dashed black;
    min-height: 30px;
}

.debug .main-section {
    background-color: red;
    border: 1px dashed black;
    height: 600px;
    width: 350px;
}

.debug .square {
    background-color: yellow;
    border: 1px dashed black;
}

.debug .footer-section {
    background-color: lightblue;
    border: 1px dashed fuchsia;
    min-height: 60px;
    width: 100%;
}

.debug .discount {

}